form {
  position: absolute;
  z-index: 0;

  fieldset {
    border: none;
    margin: 0;
    padding: 0;
  }

  input, label {
    display: block;
    width: calc(100% - 10px);
  }

  button, label {
    margin-top: .5em;
    width: 100%;
  }

  button, input, select {
    padding: 3px;
  }
}

.formLoader {
  position: absolute;
  right: 25%;
  top: 25%;
  z-index: 1;
}