@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;

  main {
    margin: 1em;

    .twoColumnGrid {
      display: grid;
      grid-gap: 1em;
      grid-template-columns: 1fr 1fr;
    
      .column1 {
        grid-column: 1;
    
        button {
          background: #7bc500;
          border: 1px solid grey;
          border-radius: 5px;
          box-shadow: 0px 0px 2px 0px #727eae;
          color: white;
          cursor: pointer;
          font-size: 1.1em;
          font-weight: bold;
          padding: .5em 0;
          width: 100%;
        }
      }
    
      .column2 {
        grid-column: 2;
      }
    }
  }
}